body {
    font-family: "Caveat Brush", "cursive";
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background: #cab699;
}

.logo img {
    width: 50px;

}

.icon img {
    width: 30px;
}

.content {
    text-align: center;

}

.content img {
    width: 150px;
    margin-top: 20px;
    border-radius: 100px;
}

.content h3 {
    margin-top: -10px;
    font-size: 20px;
}

.content p {
    font-size: 20px;
    padding: 0px 300px;
    color: rgb(92, 92, 92);
}

.box {
    display: flex;
    margin-top: -10px;
    text-align: center;
    padding: 0px 20px;
    column-gap: 20px;
}

.box img {
    width: 20px;
}

.box2 img {
    width: 20px;
}

.box3 img {
    width: 20px;
}

.box2 {
    display: flex;
    text-align: center;
    padding: 0px 20px;
    column-gap: 20px;
}

.box a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(115, 0, 255);
}

.box2 a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(115, 0, 255);
}

.box3 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px 20px;
    column-gap: 20px;
}

.box3 a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(115, 0, 255);
}

.week h1 {
    border-bottom: 2px #000000 solid;
    width: 100%;
}

.week5 h1 {
    border-bottom: 2px #000000 solid;
    width: 100%;
}

.week7 h1 {
    border-bottom: 2px #000000 solid;
    width: 100%;
}

.week {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px;
    padding: 0px 30px;
    border-radius: 20px;
    width: 35%;
}

.week5 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px 30px;
    border-radius: 20px;
    margin: 10px;
    width: 35%;

}

.week7 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px 30px;
    border-radius: 20px;
    margin: 10px;
    width: 35%;
}

.footer {
    background: #cab699;
    text-align: center;
    padding: 5px 0;
    margin-top: 15px;

}

.icon2 img {
    width: 25px;
    margin-top: 10px;
}

.phone {
    display: none;
}

.box a:hover {
    color: rgb(182, 123, 255);
}

.box2 a:hover {
    color: rgb(182, 123, 255);
}

.box3 a:hover {
    color: rgb(182, 123, 255);
}

@media screen and (max-width:1030px) {
    .box {
        flex-direction: column;
        align-items: center;
    }

    .box2 {
        flex-direction: column;
        align-items: center;
    }

    .content p {
        padding: 0px 200px;
    }


}

@media screen and (max-width:780px) {
    .content img {
        width: 250px;
        border-radius: 200px;
    }

    .desktop {
        display: none;
    }

    .phone {
        display: block;
    }

    .phone h1 {
        font-size: 40px;
    }

    .content p {
        padding: 0px 100px;
    }
}