.container {
    background: rgb(255, 227, 174);
    width: 460px;
}

div {
    margin: 10px;
}

h1 {
    margin-left: 20px;
}

#fname {
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 10px 30px 10px 5px;
    border-radius: 20px;
}


#homeurl {
    padding: 10px 30px 10px 5px;
    border-radius: 20px;
}

#lname {
    padding: 10px 30px 10px 5px;
    border-radius: 20px;
}

#email {
    padding: 10px 30px 10px 5px;
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
}

#bio {
    padding: 30px 25px;
    margin-bottom: 10px;
}

#date {
    padding: 10px 160px 10px 160px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.submit {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: rgb(255, 0, 0);
    color: white;
    border-radius: 20px;
}