.header {
    text-align: center;
    max-width: 40%;
    margin: auto;
}

.relative {
    display: flex;
    gap: 20px;
    margin: 20px 20px;
}

.box {
    position: relative;
    width: 100%;
}

img {
    width: 100%;
    height: 90%;
    border-radius: 30px;
}

.box .paragraph {
    position: absolute;
    bottom: -40px;
    left: 70px;
    background: rgb(234, 234, 234);
    padding: 30px 50px;
    text-align: center;
    border-radius: 30px;
    width: 50%;

}

.paragraph p {
    font-size: 20px;
}