body {
    background: #f6f5ef;

}

.container {
    display: flex;
    font-family: 'Oxygen', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;

    background-color: white;
}

.left img {
    width: 200px;
}


.middle {
    display: flex;
    column-gap: 30px;
    font-weight: bold;
    margin-left: 50px;
}

.home:hover {
    color: #f9612b;
}

.services:hover {
    color: #f9612b;
}

.work:hover {
    color: #f9612b;
}

.project:hover {
    color: #f9612b;
}

.contact:hover {
    color: #f9612b;
}

.button:hover {
    background: #e05827;
}


.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;

}

.right img {
    width: 30px;

}

.number {
    font-weight: bold;
    margin-right: 10px;

}

.right .button {
    background: #f9612b;
    color: #ffffff;
    border-radius: 10px;
    padding: 12px 18px;

}

.hamburger img {
    display: none;
}

@media screen and (max-width:1180px) {
    .hamburger img {
        display: block;
        margin-right: -50px;
    }

    .right {
        justify-content: flex-end;
        column-gap: 10px;

    }

    .right .button {
        display: none;
    }

    .middle {
        display: none;
    }
}

@media screen and (max-width:780px) {
    .right .number {
        display: none;
    }

    .right .phone {
        display: none;
    }

    .hamburger img {
        margin-right: auto;
    }

}